
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav#nav-bar {
    display: flex;
    font-size: 110%;
    position: sticky;
    box-shadow: .2px .2px 3px 3px;
    background: #ffeaff;
    outline-width: 100%;
    max-width: 100%;
    direction: ltr;
}

nav a {
    text-decoration: none;
    float: none;
    padding: 10px;
    border-radius: 40px;
}

nav a:hover {
    background-color: wheat;
    cursor: pointer;
}

#nav-bar {
    z-index: 2;
    transition: 6s;
}

button {
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    margin: 0;
    border-radius: 30%;
    background: wheat;
    color: #0096ff;
}

button img {
    width: 8vw;
    height: auto;
}

h1 {
    color: brown;
    box-shadow: .4px .5px 5px #c95464;
    background: #d0576836;
}

h2 {
    text-shadow: 3px 3px 4px #ff5e00;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 0;
  margin: 1%;
  border-collapse: collapse;
}

#col-1 {
    padding: 2%;
    margin: 0.5%;
    text-align: left;
    background: wheat;
    justify-content: center;
    border-radius: 10%;
}

#col-2 {
    text-align: center;
    margin: 0.5%;
    padding: 2%;
    justify-content: center;
    border-radius: 10%;
    background: whitesmoke;
}

#col-3 {
    text-align: left;
    margin: 0.5%;
    padding: 2%;
    justify-content: center;
    border-radius: 10%;
    background: wheat;
}

p {
    text-indent: 2ch;
}

.active {
    color: red;
}
.inpage-nav p {
    box-shadow: .3px .3px 3px cyan;
    text-decoration: underline;
    background: white;
    border-radius: 10%;
    text-align: center;
}

.inpage-nav a{
    display: block;
    text-decoration: none;
    color: cadetblue;
}

.inpage-nav a:hover {
    box-shadow: .3px .3px 3px cyan;
}

#cont-h6 {
    padding: 3%;
    margin: auto;
    text-align: left;
    background: floralwhite;
    color: #799f99;
}

.contacts {
    padding: 1%;
}

.contacts div {
    border-radius: 10px;
    background: wheat;
    color: #005555;
}

.cont-body {
    background: #a6dddd60;
}

#page-name {
    width: 20%;
    height: auto;
    align-content: center;
    align-self: center;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#foot {
    position: sticky;
    width: 100%;
    height: auto; /* Adjust this value to set the desired footer height */
    background-color: #cccccc;
    color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    bottom: 0;
}

.social-footer a {
    align-items: center;
    align-content: space-between;
    align-self: auto;
    text-align: center;
}

.social-footer a img {
    width: 20%;
    height: auto;
}
