.container {
  display: grid;
  grid-template-rows: auto auto auto auto auto; /* Five screen rows */
  grid-template-columns: 1fr; /* Single column */
  gap: 10px; /* Adjust spacing between grid items */
}

.slides {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  /* Slide styles */
  width: 100%;
  display: flex;
  overflow: hidden; /* Hides the overflowing slides */
  transition: transform 0.3s ease;
}

.slide-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* Slide button styles */
}

.slide-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 6px;
  border: none;
  cursor: pointer;
}

.slide-button.active {
  background-color: black;
}


.hero {
  grid-row: 1; /* First row */
  grid-column: 1; /* Full width */
  position: relative;
  /* Add styling for the hero slide images */
}

.hero img {
    width: 100%;
}

.nav {
      z-index: 2; /* Ensure the logo is above the slide images */
}

.logo {
  position: absolute;
  top: 20px; /* Adjust the distance from the top border */
  width: 10%;
  height: 10%;
  border-radius: 60%;
  padding: 10px;
}

.navbar {
  position: absolute;
  top: 20px; /* Adjust the distance from the top border */
  direction: rtl;
  padding: 10px;
}

.two-columns {
  grid-row: 2; /* Second row */
  grid-column: 1; /* Full width */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with adjustable width */
  gap: 10px; /* Adjust spacing between columns */
}

.three-columns {
  grid-row: 3; /* Third row */
  grid-column: 1; /* Full width */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 10px; /* Adjust spacing between columns */
}

.row {
  grid-column: 1; /* Full width */
  /* Add styling for the fourth and fifth rows */
}

