.NavBar {
    margin: 0;
}

.NavBar {
    padding: 0.1rem 0.5rem;
    margin: 0;
    /*background-color: #FFB6C18f;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: fit-content;
}

.NavBar .nav-list,
.NavBar .nav-icon-list{
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
}

.NavBar .site {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    vertical-align: central;
    padding: 0;
    margin: 0;
}

.minimal-icon {
    width: 10rem;
    padding-right: 0;
    margin-right: 0;
}

.NavBar .site .site-title {
    padding-left: 0.1rem;
    vertical-align: center;
    vert-align: middle;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.NavBar .nav-list li .nav-link {
    text-decoration: none;
    color: rebeccapurple;
}

.login-link, .login-link:hover {
    justify-content: center;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.login-link .active, .login-link:hover .active:hover {
    justify-content: center;
    color: inherit;
    background-color: #fff;
}
