.Footer {
    background-color: #8a8ac59f;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Footer .footer-div {
    display: flex;
    justify-content: space-between;
}

.f-column {
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: start;
}

.f-item {
    color: #ffffff;
}

.copyright {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright p {
    display: flex;
    flex-direction: row;
}

.Footer .footer-div .f-column .unordered-icons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: start;
}

.Footer .footer-div .f-column .unordered-icons a{
    text-decoration: underline saddlebrown;
    color: saddlebrown;
}

.Footer .f-column .unordered-links {
    padding-left: 1rem;
    align-items: flex-start;
    text-align: start;
}

.Footer .footer-div .f-column .unordered-links .col-item {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    text-align: start;
}

.named-icon {
    font-size: 3rem;
    color: #fff;
}