.MyIcons, .MinimalIcon {
    padding: 0;
    margin: 0;
}

.MinimalIcon svg {
    padding: 0 0 1rem 0;
    margin: 0;
    width: 20rem;
    background-color: transparent;
    resize: both;
    fill-rule: evenodd;
    fill: #B40072;
    stroke: whitesmoke;
    stroke-width: 0.6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-opacity: clamp(1, 0, 1);
}

.MyIcons svg {
    padding: 0 0 1rem 0;
    margin: 0;
    width: 15rem;
    background-color: transparent;
    resize: both;
    stroke: whitesmoke;
    stroke-width: 0.6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-opacity: clamp(1, 0, 1);
}

#game-pad-v1 {
    stroke: #B403A5;
}

#joystick {
    stroke: blue;
}

#top-joy {
    stroke: #820000;
}
#left-joy {
    stroke: #000082;
}
#right-joy {
    stroke: #828200;
}
#bottom-joy {
    stroke: #028282;
}

#code-box {
    stroke: #B40072;
}

#code-lt {
    stroke: #30B400;
}
#code-slash {
    stroke: #B46700;
}
#code-gt {
    stroke: #7600B4;
}

#svg-text {
    fill: url(#text-gradient);
    stroke: url(#text-gradient);
    font-weight: 500;
    stroke-linecap: square;
    stroke-linejoin: bevel;
}
.stop1 {
    stop-color: #B40072
}
.stop1-5 {
    stop-color: #820000
}
.stop2 {
    stop-color: #028282
}
.stop2-5 {
    stop-color: #30B400
}
.stop3 {
    stop-color: #B46700
}
.stop3-5 {
    stop-color: #B433B4
}
.stop4 {
    stop-color: #6600B4
}
.stop4-5 {
    stop-color: #7600B4
}
.stop5 {
    stop-color: #000082
}
.stop5-5 {
    stop-color: #080282;
}
.stop6 {
    stop-color: #820802
}